a-scene, video {
      height:100%;
      width:100%;
      object-fit: cover;
      object-position: center;
    }

/* #button-controls {
    z-index: 3; 
    position: absolute; 
} */

#button-controls {
    z-index: 3;
    position: relative;
}

video
{
    transform: rotateY(180deg);
    -webkit-transform:rotateY(180deg); /* Safari and Chrome */
    -moz-transform:rotateY(180deg); /* Firefox */
}